img.recipe-img {
  max-width: 250px;
}

tr:hover {
  background-color: pink;
  cursor: pointer;
}

thead {
  background-color: palevioletred;
}

.recipe-img {
  height: 200px;
  object-fit: cover;
}

.card:hover {
  transform: translateY(-5px);
  transition: transform 0.2s;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
